---
###########################
###########################
## Linter GitHub Actions ##
###########################
###########################
name: Lint Code Base

#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#

#############################
# Start the job on all push #
#############################
on:
  push:
    branches-ignore: [master]
    # Remove the line above to run when pushing to master
  pull_request:
    branches: [dev]

###############
# Set the Job #
###############
jobs:
  build:
    # Name the Job
    name: Lint Code Base
    # Set the agent to run on
    runs-on: ubuntu-latest

    ##################
    # Load all steps #
    ##################
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      ################################
      # Run Linter against code base #
      ################################
      - name: Lint Code Base
        uses: github/super-linter@v3
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: dev
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install inclusive linter
        run: |
          wget https://github.com/inclusivelint/inclusivelint/releases/download/<VERSION>/inclusivelint -O- | tr -d '\r' >inclusivelint
          sudo chmod +x inclusivelint && sudo mv inclusivelint /usr/bin
          mkdir ~/.inclusivelint
          wget https://github.com/inclusivelint/inclusivelint/releases/download/<VERSION>/outputRelation.txt -O- | tr -d '\r' >outputRelation.txt
          sudo mv outputRelation.txt ~/.inclusivelint
          
      - name: Run inclusive linter
        run: |
          export TERM=xterm
          inclusivelint .